/*=== 1. General Structure ===*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*font-weight: 3000;*/
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  /*font-weight: 300;*/
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  /*font-weight: 300;*/
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  /*font-weight: 300;*/
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  /*font-weight: 300;*/
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  /*font-weight: 300;*/
}

.container{
	max-width:100%;
	
}

/*home header*/
.container-fluid{
	/*background : #598234;*/
	/*opacity: 0.85;*/
    /*background: -webkit-linear-gradient(bottom right,#FEFCD7, #71B238); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom right,#FEFCD7, #71B238 ); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(bottom right,#FEFCD7, #71B238); /* For Fx 3.6 to 15 */
    /*background: linear-gradient(to top left,#FEFCD7, #71B238 ); /* Standard syntax (must be last) */
	position: absolute;
	background-image: url('/ntms/public/picture/bg3.jpg');
	/*background-repeat: repeat;*/
	width: 100%;
	height: 100%; 
	/*object-fit:cover;*/
	left: 0;
}

.head{
	background: #none;
	/*background : #505050;*/
	/*opacity : 0.85;*/
}

.badge-secondary{
	font-size : 50px;
	background-color:#689F38;
	border-radius : 8px;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 15s; /* Safari 4.0 - 8.0 */
    animation-name: badge;
    animation-duration: 15s;
	/*color: #828277;*/
}

@-webkit-keyframes badge {
    0%   {background-color: #A1C935;}
    25%  {background-color: #5B7444;}
    50%  {background-color: #A6CB45;}
    100% {background-color: #689F38;}
}

/* Standard syntax */
@keyframes badge {
    0%   {background-color: #A1C935;}
    25%  {background-color: #5B7444;}
    50%  {background-color: #A6CB45;}
    100% {background-color: #689F38;}
}

h1{
	display : inline;
	color: #FFFFFF;
	font-size : 28px;
	margin-left : 15px;
	font-weight : 800;
}
/*ดันช่องว่างบน*/
.row2{
	margin-top: 40px;
}
/*boxกล่องกรอกipและแสดงผล*/
.box1{
    background: #6D6968;
	box-shadow: 5px 5px 5px #8F9779;
	opacity: 0.87;
	border-radius:0 8px 8px 8px;
	color:#FFFFFF;
	font-size : 18px;
	/*width: 700px;*/
    border: 25px;
    padding: 25px 25px 25px 25px;
    margin: 0 0 50px 0;/*บนล่าง ซ้ายชวา*/
	
}


.command{
	/*width: 180px;*/
}

.box2{
	font-size : 14px;
	/*width: 500px;*/
	opacity: 0.87;
	/*border-radius: 25px;*/
	height: 335px;
	background-color: #3D3C3A;/*#68829E;*/
	color:#FFFFFF;
	border: 10px;
    padding: 5px 10px 5px 10px;
    margin: 0 0 15px 0; /*ขอบบนล่าง ขอบข้าง*/
	white-space: wrap;
}

.commandSetPre{
	font-size : 14px;
	/*width: 500px;*/
	opacity: 0.87;
	/*border-radius: 25px;*/
	height: 400px;
	background-color: #3D3C3A;/*#68829E;*/
	color:#FFFFFF;
	border: 10px;
    padding: 5px 10px 5px 10px;
    margin: 0 0 15px 0; /*ขอบบนล่าง ขอบข้าง*/
	white-space: wrap;
}

.boxtab3{
	width: 100% ;
}

/*กล่อง drag*/
.table-layout tr td {
/*border: 1px dashed #ddd !important;*/
padding: 15px;
}

.table-panel tr td {
border: 2px dashed #eee !important;
padding: 15px;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
padding: 5px 15px;
font-size: 15px;
/*line-height: 1.42857;*/
color: #2C3E50;
background-color: #FFF;
background-image: none;
border: 1px solid #DCE4EC;
border-radius: 8px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

[contenteditable="true"]:hover {
outline: 2px dashed #0090D2;
}

.SizeChooser {
margin: 5px 10px;
position: relative;
text-align: center;
}

.SizeChooser table {
	border-collapse: separate;
	border-spacing: 3px;
}

.SizeChooser td {
	cursor: pointer;
	height: 10px;
	min-width: 10px;
	line-height: 10px;
	/*border: 1px solid #CCC !important;*/
	padding: 0 !important;
}
.SizeChooser td button {
	height: 12px!important;
	width: 10px!important;
}

.SizeChooser-hover {
	background-color: red;
}

.SizeChooser-selected {
	border: 1px #333 solid !important;
}

.SizeChooser input {
	width: 40px;
}

.ui-selecting {
	background: #FECA40;
}

.ui-selected {
	background: #F39814; color: white;
}

td.empty {
	padding: 15px !important;
}
.draggable {
	cursor: pointer;
	margin-right: 10px;
	margin-top: 5px;
}

.si-glyph{
	width:16px;
	height:16px;
}

/*ปุ่มcreate new*/
.btn-primary{
	background-color : #FFFFFF;
	color: #616161;
	border:0;
	margin:0 0 0 0;
}
/*ปุ่ม Logout*/
.username {
	padding : 7px 7px 7px 7px;
	font-weight: bold;
	text-align: center;
	background : #9CAA9C;
	color: #FFFFFF;
	font-size: inherit;
	border-radius: 8px;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 15s; /* Safari 4.0 - 8.0 */
    animation-name: logout;
    animation-duration: 15s;
	/*color: #828277;*/
}

@-webkit-keyframes logout {
    0%   {background-color: #5C5858;}
    25%  {background-color: #837E7C;}
    50%  {background-color: #438D80;}
    100% {background-color: #78866B;}
}

/* Standard syntax */
@keyframes logout {
    0%   {background-color: #5C5858;}
    25%  {background-color: #837E7C;}
    50%  {background-color: #438D80;}
    100% {background-color: #78866B;}
}
.dropdown{
	padding:30px 0 0 0;
	text-align: right;
	font-size: 18px;
}
.dropdown-menu{
	
	text-align: center;
	/*color: #666666;*/
}


/*ปุ่ม set 123*/
h5{
	color :#FFFFFF;	
}

/*คำว่า set123*/
p{
	margin:0 0 0 0;
	border: 0 0 0 0;
}

/*ปุ่ม3tab*/
a.tab{
	padding: 10px 10px 2px 10px; 
	color:#6D6968; 
	font-weight: 900;
	font-size:20px;
	background-color:#FFFFFF; 
	opacity: 0.87;
	/*border-radius: 5px;*/
}
.panel.with-nav-tabs .panel-heading{
   /*padding: 5px 5px 0 5px;*/
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    /*color: #777;*/
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
	background-color: #ffffff;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #fff;
	background-color: #6D6968;
	border-color: #fff;
	border-bottom-color: transparent;
}
/*จบปุ่ม3tab*/

/*ปุ่ม  moretab*/
a.bottom{
	/*padding: 1px 10px 2px 10px;*/ 
	color:#6D6968; 
	font-weight: 900;
	font-size:20px;
	background-color:#FFFFFF; 
	opacity: 0.87;
	/*border-radius: 5px;*/
}
.panel.with-nav-tabs .panel-heading{
   /*padding: 5px 5px 0 5px;*/
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/

.with-nav-tabs.panel-default .nav-tabs > .open > a.bottom,
.with-nav-tabs.panel-default .nav-tabs > .open > a.bottom:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a.bottom:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a.bottom:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a.bottom:focus {
    color: #777;
	background-color: #ffffff;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a.bottom,
.with-nav-tabs.panel-default .nav-tabs > li.active > a.bottom:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a.bottom:focus {
	color: #fff;
	background-color: #3D3C3A;
	border-color: #fff;
	border-bottom-color: transparent;
}
/*จบปุ่ม moretab*/

pre{
	overflow:auto;
	color:#ffffff;
}

